<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
</head>

<h2>Your List</h2>

<ul id="theList">
<%= 

@data.map! { |item| "<li>" + item + "<br>" }
@data.join()

%>
</ul>


</html>